$bg-color:#65c12f;

// 路由内容同一样式
.content{
    padding: 10px 20px;
    min-width: 800px;
    height: 100%;
}

//  导航条同一样式
.navigation{
    height: 50px;
    div{
        font-size: 16px;
        margin-right: 20px;
        line-height: 30px;
    }
    div:hover{
        cursor: pointer;
    }
    .bold{
        font-size: 20px;
        font-weight: 600;
    }
    .bold::after{
        content: ' ';
        display: block;
        width: 80%;
        margin-left: 10%;
        height: 3px;
        border-bottom: 3px solid red;
    }
}

.flex{
    display: flex;
}
// 字体
.f-w{
    font-size: 20px;
    font-weight: 600;
}
// 内容区域
.content-area{
    display: flex;
    justify-content: center;
    .area{
        width: 85%;
        min-width: 800px;
        margin-bottom: 20px;
    }
}