.NavBar{
    background: #fff;
    border-right: 1px solid #E5E5E5;
    overflow-y: scroll;
    padding: 10px 0 0 15px;
    .navBarItem{
        height: 35px;
        line-height: 35px;
        margin: 2px 0;
        font-size: 14px;
        
    }
    .navBarItem:hover{
        background: #F6F6F7;
        cursor: pointer;
    }
    .navbar-font{
        font-size: 16px;
        font-weight: 600;
        background: #F6F6F7;

    }
    p{
        font-size: 12px;
        color: #adadb0;

    }
}
.NavBar::-webkit-scrollbar{
    width: 1px;
}