.item{
    display: flex;
    margin-top: 10px;
    .item-content{
        position: relative;
        flex: 30%;
        margin-left: 20px;
        .item-img{
            img{
                width: 100%;
                border-radius: 5px;
            }
        }
        .item-img:hover{
            cursor: pointer;
        }
        .item-icon{
            width: 22px;
            height: 22px;
            text-align: center;
            line-height: 22px;
            font-size: 16px;
            border-radius: 50%;
            border: 1px solid #fff;
            background: rgba(89, 87, 87,.4);
            position: absolute;
            top: 3%;
            left: 2%;
            color: #fff;
        }
    }
    .item-font{
        overflow: hidden;
        
        font-size: 14px;
        color: rgb(98, 98, 98);
    }
    .item-font:hover{
        color: #000;
        cursor: pointer;
    }
    .mrgin-left-0{
        margin-left: 0;
    }
}